.breadcrumb-option
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6
        .breadcrumb__text
          %h2 About
      .col-lg-6.col-md-6.col-sm-6
        .breadcrumb__links
          = link_to 'Home', root_path
          %span About
%section.about.spad
  .container
    .row
      .col-lg-12
        .about__video.set-bg
          = image_tag "about-video.jpg"
    .row
      .col-lg-6.col-md-6
        .about__text
          .section-title
            %span About Cake shop
            %h2 Cakes and bakes from the house of Queens!
          %p
            The "Cake Shop" is a Jordanian Brand that started as a small family business. The owners are
            Dr. Iyad Sultan and Dr. Sereen Sharabati, supported by a staff of 80 employees.
      .col-lg-6.col-md-6
        .about__bar
          .about__bar__item
            %p Cake design
            #bar1.barfiller
              .tipWrap
                %span.tip
              %span.fill{"data-percentage" => "95"}

